<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Talentsync{% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% endblock %}
</head>
<body class="bg-body">
    {% if session.get("user_id") %}
        {% include "components/navbar_private.html" %}
    {% else %}
        {% include "components/navbar_public.html" %}  
    {% endif %}      

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mb-3">
                {% for category, message in messages %}
                    {# Map Flask categories to Bootstrap colors #}
                    {% set alert_class = 'danger' if category == 'error' else category %}
                    {% set alert_class = 'success' if category == 'message' else alert_class %}

                    <div class="alert alert-{{ alert_class }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>    
        {% endif %}
    {% endwith %}

    {% block content %}
    <h1>Hello from templates folder</h1>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>