<div class="col-md-3 col-lg-2 bg-light sidebar py-2">
    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.clients') }}">Manage Clients</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.freelancers') }}">View Freelancers</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.gigs') }}">View Gigs</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.applications') }}">Applications</a>
        </li>
    </ul>
</div>  